body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  box-sizing: border-box;
}

.serch-form {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 371px;
}

.serch-input {
  width: 272px;
  height: 40px;
}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  transition: background-color 250ms ease-in-out;
}
.button-submit:hover {
  background-color: #6c8cff;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1512px;
  margin: 24px auto 0;
}

.galery-item-img {
  border-radius: 8px;
  width: 360px;
  height: 200px;
}

.galerry-item {
  position: relative;
  flex-basis: calc((100% - 72px) / 4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}

.photo-info-list {
  font-size: 14px;
  line-height: 2;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 4px 0;
  background-color: #fff;
}

.simple-lightbox {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(46, 47, 66, 0.8);
}
.sl-wrapper .sl-image {
  position: fixed;
}
.sl-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 40px;
  padding: 10px;
  background-color: rgba(6, 7, 66, 0.8);
  color: white;
}
.sl-close,
.sl-next,
.sl-prev {
  position: fixed;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 36px;
  color: white;
  line-height: 3rem;
}

.sl-close {
  right: 30px;
  top: 30px;
}
.sl-next {
  right: 30px;
  top: 50%;
}
.sl-prev {
  left: 30px;
  top: 50%;
}
.sl-close:hover,
.sl-next:hover,
.sl-prev:hover {
  color: gray;
}
